.table-responsive {
    max-height: 600px;
    position: relative;
}
.card-img-full-height {
    height: 100%; /* Make the image container height 100% */
    object-fit: cover; /* Scale the image while maintaining aspect ratio */
}