<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="form">
    <form method="post" th:action="@{/register}" th:object="${registerRequest}">
    <div class="wrapper">
        <div class="title">
            Registration Form
        </div>
        <div class="field">
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="field">
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="field">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="field">
            <input type="submit" value="Register">
        </div>
        <div class="signup-link">
            Already have an account? <a href="/login">Sign in now</a>
        </div>
    </div>
</form>
</div>
</body>
</html>