<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2c2c2c;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/title.png" width="100" height="50" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
                    aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavDarkDropdown">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/login">Авторизація</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/register">Реєстрація</a>
                    <li class="nav-item dropdown btn-group dropstart" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenu" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="name">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenu">
                            <li><a class="dropdown-item" href="/personal_page">Особистий кабінет</a></li>
                            <li><a class="dropdown-item" href="/user-management" sec:authorize='hasRole("ADMIN")'>Керування користувачами</a></li>
                            <li><a class="dropdown-item" href="/hotel-management" sec:authorize='hasRole("ADMIN")'>Керування готелями</a></li>
                            <li><a class="dropdown-item" href="/room-management" sec:authorize='hasRole("ADMIN")'>Керування кімнатами</a></li>
                            <li><a class="dropdown-item" href="/booking-management"sec:authorize='hasRole("ADMIN")'>Керування бронюваннями</a></li>
                            <li><a class="dropdown-item" type="button" data-bs-toggle="modal"
                                   data-bs-target="#logOutSubmit">Вийти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="logOutSubmit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logOutSubmitLabel">Ви впевнені, що хочете вийти?</h5>
                </div>
                <div class="modal-footer justify-content-start">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-dark" value="logout">Так</button>
                    </form>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Ні</button>
                </div>
            </div>
        </div>
    </div>
</div>